---
- hosts: all
  sudo: yes
  tasks:
  - name: Add java repositories
    apt_repository: repo='ppa:webupd8team/java' update_cache=yes
  - name: Shell accepted oracle license
    shell: echo debconf shared/accepted-oracle-license-v1-1 select true | debconf-set-selections
  - name: Install java7
    apt: pkg=oracle-java7-installer update_cache=yes state=installed
  - name: Install unzip
    apt: pkg=unzip update_cache=yes state=installed
  - name: create project directory gatlin
    file: state=directory path=gatling
  - name: download gatlin
    get_url: url=http://repo1.maven.org/maven2/io/gatling/highcharts/gatling-charts-highcharts/2.0.0-RC2/gatling-charts-highcharts-2.0.0-RC2-bundle.zip dest=.
  - name: unrar gatling file
    shell: unzip gatling-charts-highcharts-2.0.0-RC2-bundle -d gatling
